<header class="site-header">
    <nav class="navbar navbar-expand-md bg-success text-white fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4 " href="/">Punto de Venta</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('main.index') }}">Home</a>
          </div>
              <div class="navbar-nav mr-auto">
              </div>

        <div class="navbar-nav">
          </div>
          </div>
        </div>
    </nav>
  </header>
