@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  margin-top: 5rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
}

main {
  flex: 1 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #1a1c1d;
  text-align: center;
}
nav a{
  color: #fff;
}
nav a:hover{
  color: rgb(193, 250, 193);
}
.col-center {
  float: none;
  margin: 0 auto;
}

.titulo{
  margin-top: 25px;
  margin-bottom: 50px;
}

.error-empty{
  color: red;
}

ul {
  list-style-type: none;
 }

.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.holi {
  padding-top: 100px;
}

.bar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

.alert{
  margin-top:2rem;
  margin-left:10rem;
  margin-right:10rem;
  text-align: center;
  padding: 1rem;
  display: none;
  font-size: 1rem;
}