<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables/datatables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables/buttons.datatables.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/v4-shims.css">    
    {% if titulo %}
        <title>Agroservicios Guadalupana - {{ titulo }}</title>
    {% else %}
        <title>Agroservicios Guadalupana</title>
    {% endif %}
</head>