{% extends "base.html" %}
{% block content %}
<div class="container border p-4 mb-6 mt-6">
    <h2>{{titulo}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Precio Compra</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>

        <tbody>
            {% for producto in productos.items %}
                <tr>
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre_producto}}</td>
                    <td>{{producto.marca}}</td>
                    <td>{{producto.precioVentaBase}}</td>
                    <td>{{producto.precioCompra}}</td>
                    <td>{{producto.proveedor}}</td>
                    <td>{{producto.descripcion}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock content %}
