{% extends "base.html" %}
{% block content %}
<div class="container border p-4 mb-6 mt-6">
    <h2>{{titulo}}</h2>

    <div class="row">
        <input type="text" class="form-control form-control-lg" id="inventario-input" placeholder="Buscar por nombre de producto...">
    </div>
    <div class="row">

    <table class="table" >
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>

        <tbody id="inventario-table-body">
            {% for producto in inventario %}
                <tr>
                    <td>{{producto['producto']['nombre_producto']}}</td>
                    <td>{{producto['producto']['precioVentaBase']}}</td>
                    <td>{{producto['cantidad']}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

</div>


{% endblock content %}
