{% extends "base.html" %}
{% block content %}
<div class="container border p-4 mb-6 mt-6">
    
    <h2>{{titulo}}</h2>

    {% if not inventario %}
        <h6 class="error-empty">No hay productos registrados</h6>
    {% else %}


    <table class="table" >
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Precio de Compra</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>

        <tbody id="inventario-table-body">
            {% for producto in inventario %}
                <tr>
                    <td>{{producto['producto']['nombre_producto']}}</td>
                    <td>{{producto['producto']['precioVentaBase']}}</td>
                    <td>{{producto['producto']['precioCompra']}}</td>

                    <td>{{producto['cantidad']}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    {% endif %}

</div>


{% endblock content %}
