{% extends "base.html" %}
{% block content %}
<div class="container border p-4 mb-6 mt-6">
    <h2>{{titulo}}</h2>
    {% if not ventas %}
    <br>
    <h6 class="error-empty">No hay ventas registradas</h6>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
                <th scope="col">Fecha</th>
                <th scope="col">Ticket</th>
            </tr>
        </thead>

        <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{venta['usuario']['nombre_usuario']}}</td>
                    <td>{{venta['producto']['nombre_producto']}}</td>
                    <td>{{venta['precioVenta']}}</td>
                    <td>{{venta['cantidad']}}</td>
                    <td>{{venta['total']}}</td>
                    <td>{{venta['fecha']}}</td>
                    <td>{{venta['id_ticket']}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    {% endif %}
</div>
{% endblock content %}
