@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

body {
  background: #fff;
  color: #1a1c1d;
  margin-top: 5rem;
  text-align: center;
}
nav a{
  color:white
}
nav a:hover{
  color: rgb(182, 235, 195)
}
h1, h2, h3, h4, h5, h6 {
  color: #1a1c1d;
}
footer{
    color: white;
}