@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

body {
  background: #fff;
  color: #1a1c1d;
  margin-top: 5rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #1a1c1d;
}
footer{
    background: #4285F4;
    color: white;

}